<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Students</title>
</head>
<body>
<nav><a href="create/">Добавить студента</a></nav>

<h1>Наши студенты</h1>

<div>
{% for i in students %}
    <h3>Ф.И - {{ i.name }} {{ i.surname }}</h3>
    <h3>Возраст - {{ i.age }}</h3>
    <h3>Специальность - {{ i.speciality }}</h3>
    <h3>Ф.И Учителя - {{ i.teacher_name }} {{ i.teacher_surname }}</h3>
    <h3>Класс - {{ i.grade }}</h3>
    <h3><a href="{% url 'edit' student_id=i.id %}">Изменить данные</a></h3>
{% endfor %}
</div>



</body>
</html>